$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';

.container-fluid {
    padding: 0px;
}

.container {
	background-color: light-gray;
}

.content {
	background-color: #dceaf4;

	#cTitle {
		color: red;
	}
}

#controlPanel {
	height: 200px;
	width: 100%;
	position:absolute;
    bottom:0;
    background: rgba(0,0,0, 0.7);
    display: none;
    color: #fff;
}